
  <div class="mb-3">
    <label for="filterText" class="form-label">Search</label>
    <input type="text" class="form-control" id="filterText" 
    placeholder="...">
  </div>

   <div class="row">
    <div class="col-md-4">
      <select  class="form-select" aria-label="marka seç">
        <option value="0" >Choose Brand</option>
        <option [value]="brand.brandId" *ngFor="let brand of brands" >{{brand.brandName}}</option>
      </select>
    </div>
    <div class="col-md-4">
      <select  class="form-select" aria-label="Default select example">
        <option value="0" >Choose Color</option>
        <option [value]="color.colorId" *ngFor="let color of colors" >{{color.colorName}}</option>
      </select>
    </div>
    <div class="col-md-3">
    </div>
  </div>

<div class="row mt-4" style="margin-left: 1%;">

  <div *ngFor="let car of cars "  class="card mt-2 mr-2"
     style="width: 18rem;margin-right: 10px;">


    <div class="card-body">

    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Model Year: {{ car.modelYear }}</li>
      <li class="list-group-item">Color: {{ car.colorName }} </li>
      <li class="list-group-item">Brand: {{ car.brandName }}</li>
      <li class="list-group-item">Daily Price: {{ car.dailyPrice }}</li>
      <li class="list-group-item">Car Description: {{ car.description}}</li>

    </ul>
    <div class="card-body">
      <div class="row">
        <button type="button" 
          class="btn btn-outline-success" routerLink="/cars/carDetails/{{car.carId}}" >Car Detail</button>

      </div>
    </div>
  </div>
</div>