
  <div class="mb-3">
    <label for="filterText" class="form-label">Search car</label>
    <input type="text" [(ngModel)]="filterText" class="form-control" id="filterText" placeholder="search...">
  </div>
  <div *ngIf="filterText" class="alert alert-success">    
    Looking for {{filterText}}
  </div>

  <div class="row mt-4" style="margin-left: 1%;">

    <div *ngFor="let car of cars |filterPipe:filterText"  class="card mt-2 mr-2"
       style="width: 18rem;margin-right: 10px;">
  
      <img *ngIf="car.imagePath" [src]="baseUrl+car.imagePath" class="card-img-top" 
        style="object-fit: cover;" width="100" height="50%" alt="...">
  
      <img *ngIf="!car.imagePath" [src]="baseUrl+'DefaultImage.jpg'" class="card-img-top" 
        style="object-fit: cover;" width="100" height="50%" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{ car.brandName }}</h5>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Model Year: {{ car.modelYear }}</li>
        <li class="list-group-item">Color: {{ car.colorName }} </li>
        <li class="list-group-item">Brand: {{ car.brandName }}</li>
        <li class="list-group-item">Daily Price: {{ car.dailyPrice | currency }} </li>
        <li class="list-group-item">Car Description: {{ car.description}}</li>
  
      </ul>
      <div class="card-body">
        <div class="row">
          <button type="button" 
            class="btn btn-outline-success" routerLink="/cars/carDetails/{{car.carId}}" >Car Detail</button>
            <button (click)="addToCart(car)" class="btn btn-outline-success">Add to favorites</button>
        </div>
      </div>
    </div>
  </div>