
  <div class="mb-3">
    <label for="filterText" class="form-label">Search car</label>
    <input type="text" [(ngModel)]="filterText" class="form-control" id="filterText" placeholder="search...">
  </div>
  <div *ngIf="filterText" class="alert alert-success">    
    Looking for {{filterText}}
  </div>

    <table class="table">
      <thead>
          <tr>
            <th>Brand Name</th>
            <th>Color Name</th>
            <th>Model Year</th>
            <th>Daily Price</th>
            <th>Description</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let car of cars |filterPipe:filterText ">
            <td>{{car.brandName}}</td>
            <td>{{car.colorName}}</td>
            <td>{{car.modelYear}}</td>
            <td>{{car.dailyPrice | currency}}</td>
            <td>{{car.description}}</td>
            <td><button (click)="addToCart(car)" class="btn btn-success">Add to cart</button></td>
        </tr>
        </tbody>
     
  </table> 